header.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button", 
             data-toggle="collapse", data-target="#main-nav")
                span.sr-only Toggle navigation
                span.fa.fa-bars
            a.navbar-brand(href="/") Artasie
        if user
            #main-nav.collapse.navbar-collapse
                form.navbar-form.navbar-left#form-search(role="search")
                    .form-group
                        input.form-control(type="text", name="nameMatch", placeholder="Search artists") 
                    button.btn.btn-default(type="submit") 
                        i.fa.fa-search
                ul.nav.navbar-nav.navbar-right
                    li
                        a.fa.fa-home.fa-2x(href="/")
                    //li
                    //    a.fa.fa-users.fa-lg(href="#")
                    li
                        a.fa.fa-plus.add-art-btn(href="#", name=user)
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown", 
                            role="button", aria-expanded="false") #{user}
                            span.caret
                        ul.dropdown-menu(role="menu")
                            li
                                a.view-profile(href="#", name=user) View profile
                            li
                                a.edit-profile(href="#", name=user) Edit profile
                            li.divider
                            li
                                a#logout-elem(href="#") Logout
        else
            .nav.navbar-nav.navbar-right
                a.btn.btn-default(href="#login-register") Join