doctype html
html
    head
        title Welcome to shop blah!
        link(rel="stylesheet", type="text/css", href="/css/style.css")
    body
        header
            img(src="http://40.media.tumblr.com/tumblr_md9f6bHbK81qi4ozmo1_1280.jpg")
            h1 Shop blah
            ul
                for value in headerMain
                    li
                        a(href="#") #{value}
            nav
               ul
                for value in headerNav
                    li
                        a(hrerf="#") #{value}
        div#mainContent
            for row in rows
                div.rowDiv
                    for rowValue, key in row
                        for item in rowValue
                            for value, k in item
                                a.item(href="item-info")
                                    div.info
                                        h3 #{value.name}
                                        img(src="http://www.vanmeuwen.com/medias/sys_master/8797689839646.jpg")
                                        h4 &euro; #{value.price}
        footer
            ul
                for value in foot
                    li
                        a(href="#") #{value}