.content
    .col-md-3
        .thumbnail
            img.img-thumbnail(src="/img/" + userObj.img, alt=user + " profile photo")
            .capture  
                h3 
                    a.view-profile(href="#", name=piece.artist) #{piece.artist}
    .col-md-1
    .col-md-5
        .thumbnail
            .caption.center-block
                h2 
                    a(href="#") #{piece.name}
                    if user == piece.artist
                        a.pull-right.fa.fa-trash-o.delete-art(href="#")
                    else
                        a.pull-right.fa.fa-shopping-cart(href="#")
                    a.pull-right.fa.fa-star(name=piece._id)
            a(href="/art:" + piece._id)
                img.img-thumbnail.img-responsive.center-block(src="img/" + piece.img, alt=piece.name + "by" + piece.artist)
            p.descr #{piece.descr}     
        .row.comment-section(name= "" + piece._id)
